<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <httpRedirect enabled="false" destination="https://files.santa.lt/" exactDestination="false" childOnly="false" httpResponseStatus="Permanent" />
        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="https://files.santa.lt" responseMode="Redirect" />
            <error statusCode="503" path="https://files.santa.lt" responseMode="Redirect" />
        </httpErrors>
        <rewrite>
            <outboundRules>
                <rule name="Remove Server">
                    <match serverVariable="RESPONSE_Server" pattern=".*" />
                    <action type="Rewrite" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
